<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация пользователя</title>
</head>
<body>

<h2>Форма регистрации пользователя</h2>

<form action="/registration" method="post" id="registrationForm">
    <label for="name">Имя пользователя:</label><br>
    <input type="text" id="name" name="name" required><br>

    <label for="password">Пароль:</label><br>
    <input type="password" id="password" name="password" required><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br>

    <!-- Поле userRole предполагает выбор роли, возможно вам потребуется доработать эту часть в зависимости от вашей логики назначения ролей -->
    <label for="userRole">Роль пользователя:</label><br>
    <select id="userRole" name="userRole" required>
        <option value="ROLE_USER">USER</option>
        <option value="ROLE_USER">OPERATOR</option>
        <option value="ROLE_ADMIN">ADMIN</option>
        <!-- Добавьте другие роли по мере необходимости -->
    </select><br>

    <input type="submit" value="Зарегистрироваться">
</form>

<script>
    // Возможно, потребуется JavaScript для обработки и отправки формы, особенно если нужно преобразовать роли в правильный формат JSON при отправке
    document.getElementById('registrationForm').onsubmit = function(event) {
        event.preventDefault();

        var userDto = {
            name: document.getElementById('name').value,
            password: document.getElementById('password').value,
            email: document.getElementById('email').value,
            userRole: [document.getElementById('userRole').value] // Пример создания массива с одной ролью
        };

        fetch('/registration', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                // Не забудьте добавить CSRF-токен, если он используется в вашем приложении
            },
            body: JSON.stringify(userDto)
        }).then(response => {
            if (response.ok) {
                alert('Пользователь зарегистрирован!');
            } else {
                alert('Ошибка регистрации пользователя.');
            }
        }).catch(error => {
            console.error('Ошибка при отправке данных:', error);
        });
    };
</script>

</body>
</html>
